@model ResumeDetail
@{
    ViewData["Title"] = "Create";
}

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">CV Oluştur</h2>
        </div>

        <div class="mb-3">
             <label asp-for="Resume.Name" class="mb-3">İsim: </label> <input asp-for="Resume.Name" class="form-control"/>
             <span asp-validation-for="Resume.Name" class="text-danger"></span>
         </div>

        <div class="mb-3">
             <label asp-for="Resume.Surname" class="mb-3">Soyisim: </label> <input asp-for="Resume.Surname" class="form-control"/>
             <span asp-validation-for="Resume.Surname" class="text-danger"></span>
         </div>

        <div class="mb-3">
             <label asp-for="Resume.Age" class="mb-3">Yaş: </label> <input asp-for="Resume.Age" class="form-control"/>
             <span asp-validation-for="Resume.Age" class="text-danger"></span>
         </div>

        <div class="mb-3">
             <label asp-for="Resume.JobTitle" class="mb-3">Pozisyon: </label> <input asp-for="Resume.JobTitle" class="form-control"/>
             <span asp-validation-for="Resume.JobTitle" class="text-danger"></span>
         </div>

        <div class="mb-3">
             <label asp-for="Resume.PhoneNumber" class="mb-3">Telefon No: </label> <input asp-for="Resume.PhoneNumber" class="form-control"/>
             <span asp-validation-for="Resume.PhoneNumber" class="text-danger"></span>
         </div>

        <div class="mb-3">
             <label asp-for="User.Email" class="mb-3">Mail: </label> <input asp-for="User.Email" class="form-control"/>
             <span asp-validation-for="User.Email" class="text-danger"></span>
         </div>

        <div class="mb-3">
             <label asp-for="Resume.Adress" class="mb-3">Adres: </label> <input asp-for="Resume.Adress" class="form-control"/>
             <span asp-validation-for="Resume.Adress" class="text-danger"></span>
         </div>

        <div class="row">
            <div class="mb-3 col-6">
                 <label asp-for="Education.University" class="mb-3">Üniversite: </label> <input asp-for="Education.University" class="form-control"/>
                 <span asp-validation-for="Education.University" class="text-danger"></span>
             </div>
            <div class="mb-3 col-6">
                <label asp-for="Education.Department" class="mb-3">Bölüm: </label> <input asp-for="Education.Department" class="form-control"/>
                <span asp-validation-for="Education.Department" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="mb-3 col-2">
                <label asp-for="Education.GPA" class="mb-3">Ortalama: </label> <input asp-for="Education.GPA" class="form-control"/>
                <span asp-validation-for="Education.GPA" class="text-danger"></span>
            </div>
            <div class="mb-3 col-5">
                 <label asp-for="Education.EntranceYear" class="mb-3">Giriş Yılı: </label> <input asp-for="Education.EntranceYear" class="form-control"/>
                 <span asp-validation-for="Education.EntranceYear" class="text-danger"></span>
            </div>
            <div class="mb-3 col-5">
                <label asp-for="Education.GraduationYear" class="mb-3">Mezuniyet Yılı: </label> <input asp-for="Education.GraduationYear" class="form-control"/>
                <span asp-validation-for="Education.GraduationYear" class="text-danger"></span>
            </div>

        </div>
        

        <div class="mb-3">
             <label asp-for="Skills[0].SkillName" class="mb-3">Yetenekler: </label> <input asp-for="Skills[0].SkillName" class="form-control"/>
             <span asp-validation-for="Skills[0].SkillName" class="text-danger"></span>
         </div>
        
        <div class="row">
            <div class="mb-3 col-6">
                <label asp-for="Languages[0].LanguageName" class="mb-3">Dil: </label> <input asp-for="Languages[0].LanguageName" class="form-control"/>
                <span asp-validation-for="Languages[0].LanguageName" class="text-danger"></span>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="Languages[0].LanguageLevel" class="mb-3">Dil Seviyesi: </label> <input asp-for="Languages[0].LanguageLevel" class="form-control"/>
                <span asp-validation-for="Languages[0].LanguageLevel" class="text-danger"></span>
            </div>
        </div>
        
       

        <div class="mb-3">
             <label asp-for="Resume.MyDescription" class="mb-3">Niyet Mektubu: </label> <textarea asp-for="Resume.MyDescription" rows="8" class="form-control"></textarea>
            <span asp-validation-for="Resume.MyDescription" class="text-danger"></span>
         </div>



        <button type="submit" class="btn btn-primary" style="width:150px">Oluştur</button>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}