@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Mine CV </h1>
<h3> Herkesin CV'sini hazırlayabileceği bir websitesi</h3>
<h2>Üyeler</h2>

<p>
    Burak Taşcı 170419047<br/>
    Enes Ekşi 170419046<br/>
    Oğuz Evirgen 170419508<br/>
</p>

<hr />

<p>
    C (Create ) => Kullanıcı oluşturma işlemi <br/>
    R (Read) => Kullanıcıya dair verileri okuma <br/>
    U ( Update ) => Kullanıcı verisini değiştirme <br/>
    D (Delete ) => Kullanıcıyı silme <br/>

</p>


        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Mine CV - <a href="/Home/Privacy">Privacy</a>
        </div>
    </footer>
</div>
